<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Employee Page</title>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container" >
		<h3>My Employee directory</h3>
		<hr/>
		<p class="h5 mb-4" >Update employee here</p>
		<form action="#" th:action="@{/employee/update}" 
			th:object="${employeeForm}" method="POST">
			<input type="hidden" th:field="*{employeeId}" />
			<input type="text" th:field="*{firstName}" placeholder="First Name" 
				class="form-control mb-3 col-4"/>
			
			<input type="text" th:field="*{lastName}" placeholder="Last Name" 
				class="form-control mb-3 col-4"/>
			
			<input type="text" th:field="*{email}" placeholder="email address" 
				class="form-control mb-3 col-4"/>
			
			<button type="submit" class="btn btn-primary col-4">Update Employee</button>
		</form>
		<a th:href="@{/employees}" class="mt-4">Back to employee list</a>
	</div>
</body>
</html>